.container {
    display: flex;
    flex-direction: column;
    
}

.gameboard {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    max-width: 800px;
    margin: 0 auto;
    
}

.cell {
    background-color: khaki;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    
}